@model Project

<div class="card card-outline-primary m-1 p1">
    <div class="bg-faded p-1 bg-dark text-white-50 text-capitalize">
        <h4> Title: @Model.Title</h4> <! --listing title -->
        <p>Author: @Model.Author @Model.AuthorMiddle @Model.AuthorLast </p> <! --listing author -->
        <p>Publisher: @Model.Publisher</p> <! --listing publisher -->
        <p>ISBN: @Model.ISBN</p> <! --listing isbn -->
        <p>Category: @Model.Category</p> <! --listing category -->
        <p>Classification: @Model.Classification</p>
        <p>Number of Pages: @Model.PageNum</p> <! -- Number of pages -->
        <p>Price: @Model.Price</p> <! --listing price -->
    </div>

</div>
